.header__logo {
  width: 142px;
}

@media (max-width: 879px) {
  .header__logo {
    margin-left: 14px;
  }
}

@media (max-width: 389px) {
  .header__logo {
    margin-left: 27px;
    width: 104px;
  }
}
