.profile__avatar-btn {
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    display: block;
    position: relative;
    padding: 0;
}

.profile__avatar-btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.8);
  opacity: 0;
}

.profile__avatar-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../../../images/editAvatarButton.svg) no-repeat center;
  opacity: 0;
  z-index: 5;
}

.profile__avatar-btn:hover:after {
  opacity: 1;
  cursor: pointer;
}

.profile__avatar-btn:hover:before {
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 703px) {
  .profile__avatar-btn {
    align-self: center;
  }
}
