.profile__add-btn {
  background: url(../../../images/addButtonPlus.svg);
  margin-top: 35px;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ffffff;
  border-radius: 2px;
  min-width: 150px;
  max-height: 50px;
  padding: 0;

}

.profile__add-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 703px) {
  .profile__add-btn {
    margin-top: 0;
    min-height: 50px;
    align-self: center;
  }
}

@media (max-width: 603px) {
  .profile__add-btn {
    background-size: 16px 16px;
    min-width: 282px;
  }
}
