.auth__input {
  border: none;
  margin: 0 0 30px;
  border-bottom: 2px solid rgba(204, 204, 204, 1);
  background-color: #000000;
  min-height: 27px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
}

.auth__input:last-of-type {
    margin-bottom: 216px;
}